<div class="sidebar">
  <a
    href="/dashboard"
    class="sidebar-item <% if (currentPage === 'dashboard') { %>active<% } %>"
    >Home</a
  >
  <% if (isAdmin) { %>
  <a
    href="/dashboard/users"
    class="sidebar-item <% if (currentPage === 'users') { %>active<% } %>"
    >User Management</a
  >
  <% } %>
  <a
    href="/dashboard/delegates"
    class="sidebar-item <% if (currentPage === 'delegates') { %>active<% } %>"
    >Delegates</a
  >
  <a
    href="/dashboard/startups"
    class="sidebar-item <% if (currentPage === 'startups') { %>active<% } %>"
    >Startups</a
  >
  <a
    href="/dashboard/recommendations"
    class="sidebar-item <% if (currentPage === 'recommendations') { %>active<% } %>"
    >Recommendations</a
  >
  <a
    href="/dashboard/scan-logs"
    class="sidebar-item <% if (currentPage === 'scan-logs') { %>active<% } %>"
    >Scan Logs</a
  >
  <a
    href="/dashboard/analytics"
    class="sidebar-item <% if (currentPage === 'analytics') { %>active<% } %>"
    >Analytics</a
  >
</div>
